header {
  position: fixed;

  width: 100%;

  top: 0;

  left: 0;

  padding: 20px 40px;

  background: #000000;

  z-index: 1000;
}

.navbar {
  display: flex;

  justify-content: space-between;

  align-items: center;
}

.logo {
  color: #ffffff;

  font-size: 28px;
}

.menu {
  display: flex;

  gap: 20px;

  list-style: none;
}

.menu a {
  color: rgb(255, 255, 255);

  text-decoration: none;

  transition: 0.3s;
}

.menu a:hover {
  color: #fedd65;
}

.menu-toggle {

    display: none;

    font-size: 2rem;

    cursor: pointer;
}
